/* footer styles */

html,
body {
	margin: 0;
	padding: 0;
}

.wrapper {
	min-height: 40%;
	margin-bottom: -100px;
}

.footer,
.push {
	height: 100px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

section {
	margin: 0;
	padding: 0;
}

.nav-link {
	color: white;
	align-self: flex-end;
}

/* cards */

.gallery-pad {
	padding-top: 5px;
}

.card-container {
	padding: 1px;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 2px !important;
}

.card {
	max-width: 300px;
	border: none;
}

.card-title, .card-text {
	color: gray;
}

.card-body {
	background-color: rgb(56, 56, 58);
}

.image-overlay {
    position: absolute;
    top: 0;
    min-width: 100%;
    background-color: #4646464b;
}

.image-overlay2 {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    background-color: #0000002f;
}

.card-text:last-child {
	margin: 0 0 10px 5px;
}

.author {
    color: rgb(189, 189, 189);
    margin: 4px;
	text-transform: uppercase;
}

@media only screen and (max-width: 1440px) {
	.card-text:last-child {
		font-size: x-small;
	}
  }

/* services */

.service-row {
	padding: 40px;
}

.service-icons {
	padding: 15px;
}

.section-heading {
	padding-top: 35px;
}

.text-muted {
	padding-top: 25px;
}

.text-primary {
	color: darkgoldenrod !important;
}

.fa-circle {
	color: #000;
}

/* Jumbotron */

.jumbotron {
	background-image: url("../testimages/TestHero.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
}