{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
  <title>Promptiverse</title>
  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

  <!-- Stylesheet and precon data -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Jeffrey Bull">
  <meta name="description"
    content="Promptiverse - an AI gallery site for sharing and viewing AI generated art.">
  <meta name="keywords" content="AI, Machine Learning, AI art, digital art, art sharing, user posts, concept art, fantast art, sci-fi art">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="bg-dark">
  <!-- Navbar loads here using include -->
{% include 'nav.html' %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="md-4">
            <div class="error-box text-uppercase">
                <p>Whoa there traveler...</p>
                <p>Looks like you've got lost.</p>
                <p>Navigate back to the homepage before its too late !</p>
            </div>
        </div>
    </div>
</div>

</body>

<!-- Required scripts load here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/9cb253b564.js" crossorigin="anonymous"></script>

</html>