{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block main %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h4>Submit new post:</h4>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ submit_form|crispy }}

                {% if submit_form.featured_image.errors %}
                    {% for error in submit_form.featured_image.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock main %}

