{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block main %}
<!-- Authenticated user check -->
{% if user.is_authenticated %}
<!-- form to allow user submission of artwork and prompts -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 create-post-div">
            <h4>SUBMIT NEW POST:</h4>
            <p>Posting as: {{ user.username }}</p>
            <!-- form is built from our submission view -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ submit_form|crispy }}

                <!-- displays an alert if user submits form with errors -->
                {% if submit_form.featured_image.errors %}
                    {% for error in submit_form.featured_image.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
        </div>
        <div class="col-md-4">
            <div class="card mb-3" id="comment-card">
                <div class="card-header text-uppercase">
                    Heading
                </div>
                <div class="card-body">
                    Body
                </div>
              </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock main %}

