{% extends "base.html" %}

  {% block header %}
  <header>

    <nav class="navbar bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Promptiverse</a>
      <div class="ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="mr-auto">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Submit</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>
  {% endblock header %}

  {% block main %}
  <main class="gallery-pad">

    <div class="container-fluid">
      <div class="row justify-content-left">

        {% for post in post_list %}
        <div class="col-lg-2 col-md-3 col-sm-6 col-6 mb-4 card-container">
          <div class="d-flex justify-content-center">
            <div class="card h-100">
              <div class="image-container">
              {% if "placeholder" in post.featured_image.url %}
              <img src="../static/testimages/TestCard.png" class="card-img-top" alt="...">
              {% else %}
              <img class="card-img-top" src=" {{ post.featured_image.url }}">
              {% endif %}
            </div>
              <div class="image-overlay">
                <p class="author">Author: {{ post.author }}</p>
              </div>
              <div class="image-overlay2">
              <a href="#" class="post-link">
                <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                  {{ post.number_of_likes }}</p>
              </a>
            </div>
            </div>
          </div>
        </div>
        {% endfor %}

  </main>
  {% endblock %}