{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block main %}
<!-- main image column -->
<div class="container-fluid">
  <div class="row d-flex">

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="post-image">
        {% if "placeholder" in post.featured_image.url %}
        <img src="https://via.placeholder.com/512x512" alt="Post Image" class="img-fluid">
        {% else %}
        <img src=" {{ post.featured_image.url }}" class="img-fluid">
        {% endif %}
      </div>

      <div class="col-1">

        <strong>
          {% if user.is_authenticated %}
          <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                class="fas fa-heart"></i></button>
            {% else %}
            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                class="far fa-heart"></i></button>
            {% endif %}
          </form>

          {% else %}
          <span class="text-secondary"><i class="far fa-heart"></i></span>
          {% endif %}
          <span class="text-secondary">{{ post.number_of_likes }} </span>
        </strong>

      </div>

      <div class="col-1">
        {% with comments.count as total_comments %}
        <strong class="text-secondary"><i class="far fa-comments"></i>
          {{ total_comments }}</strong>
        {% endwith %}
      </div>

    </div>

    <!-- Post details column -->
    <div class="col-lg-6 col-md-6 col-sm-12 text-right">

      <div class="card" id="text-card">

        <div class="card-header bg-dark">
          <h1 class="card-title">{{ post.title }}</h1>
          <p class="card-subtitle">CREATED BY: {{ post.author }} | ON: {{ post.created_on }}</p>
        </div>

        <div class="card-body">

          <div class="promptdiv list-group-item">
            <h5 class="card-title">Prompt:</h5>
            <div class="card-text card-elements">
              <p id="prompt-text" onclick="copyToClipboard()">{{ post.prompt | safe }}</p>
            </div>
          </div>

          <div class="negpromptdiv list-group-item">
            <h5 class="card-title">Negative prompt:</h5>
            <div class="card-text card-elements">
              <p id="negprompt-text" onclick="copyToClipboard()">{{ post.negprompt | safe}}</p>
            </div>
          </div>

          <div class="methoddiv list-group-item">
            <h5 class="card-title">Method:</h5>
            <div class="card-text card-elements">
              <p id="method-text" onclick="copyToClipboard()">{{ post.method | safe }}</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

<hr>

<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <!-- comments section -->
      {% for comment in post.comments.all %}
      <div class="card mb-3">
        <div class="card-header">
          {{ comment.name }} said on {{ comment.created_on }}:
          {% if user.is_authenticated and comment.name == user.username %}
          <a href="{% url 'comment_delete' pk=comment.pk %}" class="btn btn-danger btn-sm float-right">Delete</a>
          {% endif %}
        </div>
        <div class="card-body">
          <p>{{ comment.body }}</p>
        </div>
      </div>
      {% empty %}
      <p>No comments yet.</p>
      {% endfor %}

    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 text-right">
      <div class="card-body">
        <!-- comment section form -->

        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
<script src="../static/js/script.js"></script>

{% endblock main %}