{% extends "base.html" %}

{% block index %}

<!-- Authenticated user check -->
{% if user.is_authenticated %}

<!-- Other content extends here -->
{% block main %}
{% endblock main %}

{% else %}
<!-- This is the jumbotron and hero section -->
<div class="jumbotron jumbotron-fluid d-flex align-items-center">
  <div class="container text-center">
    <h1 class="display-4">Welcome to the Promptiverse</h1>
    <p class="lead mb-4">Discover AI-generated art and creativity at its finest.</p>
    <button type="button" class="btn btn-warning btn-lg text-uppercase landing-button" data-toggle="modal"
      data-target="#aboutModal" aria-label="Learn more about the site">
      Learn More
    </button>
  </div>
</div>

<!-- This is the modal about section -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-padding">
      <div class="modal-content bg-dark">
        <h5 class="modal-title">Want to know more? stay a while and listen</h5>
        <p class="modal-text">You have found your way to the Promptiverse, a gallery site to showcase AI art.</p>
        <p class="modal-text">AI art is a form of art created using artificial intelligence algorithms.
          These algorithms are designed to learn patterns from existing data and generate new, unique outputs that can
          be considered art.
          The AI system can be trained on a variety of input sources, such as images, text, and audio.</p>

        <p class="modal-text">The process of creating AI art involves feeding the AI system with input data and letting
          it generate a new output based on the learned patterns.
          The generated output can then be refined or altered by a human artist to create a final piece of art.</p>
        <p class="modal-text">Remember be respectful and constructive. Go to the Signup link to start viewing & posting!
        </p>
        <div class="modal-btn">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<main>

  <!-- This is the services information section -->
  <section id="services">
    <div class="container">
      <div class="row service-row">
        <div class="col-lg-12 text-center">
          <h2 class="text-uppercase section-heading">About</h2>
          <h4 class="muted-text-pad section-subtext" id="about-text">Welcome to our AI art gallery, where creators showcase their
            AI-generated artwork...</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 service-pad">
          <span><i class="fa-solid fa-eye section-fa"></i></span>
          <h4 class="section-heading text-uppercase">Showcase</h4>
          <p class="section-subtext sect-cont-text">Our community is dedicated to exploring
            the creative possibilities of machine learning algorithms, and we encourage artists of all levels to join
            us.</p>
        </div>
        <div class="col-md-4 service-pad">
          <span><i class="fa-regular fa-comments section-fa"></i></span>
          <h4 class="section-heading text-uppercase">Comment</h4>
          <p class="section-subtext sect-cont-text">Each post features an image, title, prompt, negative prompt, and
            method, providing a
            glimpse into the creative process
            behind the art. Members can like, unlike, and comment on each other's posts, providing feedback and
            inspiration to one another.</p>
        </div>
        <div class="col-md-4 service-pad">
          <span><i class="fa-solid fa-brain section-fa"></i></span>
          <h4 class="section-heading text-uppercase">Expand</h4>
          <p class="section-subtext sect-cont-text">Your mind, to join our community, simply click the 'Account' button
            and sign
            up for an
            account. Please note that access to the site
            is prohibited without signing up. We look forward to seeing your AI art!</p>
        </div>
      </div>
    </div>
  </section>

</main>
{% endif %}

<div class="wrapper">
  <div class="push"></div>
</div>
<!-- This the footer and SM links -->
<footer class="footer bg-dark d-flex container-fluid justify-content-center">
  <div class="foot-div d-flex justify-content-center align-items-center">
    <p>Copyright ©2023 | Promptiverse | <a class="footer-modal" data-toggle="modal" data-target="#legalModal" aria-label="Learn more about our Legal policies">Legal</a> | Socials Coming Soon</p>
  </div>
</footer>
{% endblock index %}