{% extends "base.html" %}

{% block index %}

{% include 'nav.html' %}

  {% if user.is_authenticated %}

  {% block main %}
  {% endblock main %}

  {% else %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
  
  <main>
    <section id="services">
      <div class="container">
        <div class="row service-row">
          <div class="col-lg-12 text-center">
            <h2 class="text-uppercase section-heading">About</h2>
            <h3 class="text-muted section-subheading">Welcome to our AI art gallery, where creators showcase their
              AI-generated artwor</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4"><span class="fa-stack fa-3x service-icons"><i
                class="fa fa-circle fa-stack-2x text-primary"></i><i
                class="fa fa-solid fa-palette fa-stack-1x fa-inverse"></i></span>
            <h4 class="section-heading">Post</h4>
            <p class="text-muted">. Our community is dedicated to exploring
              the creative possibilities of machine learning algorithms, and we encourage artists of all levels to join
              us.</p>
          </div>
          <div class="col-md-4"><span class="fa-stack fa-3x service-icons"><i
                class="fa fa-circle fa-stack-2x text-primary"></i><i
                class="fa fa-solid fa-comment fa-stack-1x fa-inverse"></i></span>
            <h4 class="section-heading">Comment</h4>
            <p class="text-muted">Each post features an image, title, prompt, negative prompt, and method, providing a
              glimpse into the creative process
              behind the art. Members can like, unlike, and comment on each other's posts, providing feedback and
              inspiration to one another.</p>
          </div>
          <div class="col-md-4"><span class="fa-stack fa-3x service-icons"><i
                class="fa fa-circle fa-stack-2x text-primary"></i><i
                class="fa fa-laptop fa-stack-1x fa-inverse"></i></span>
            <h4 class="section-heading">Expand</h4>
            <p class="text-muted">Your mind, to join our community, simply click the 'Account' button and sign up for an
              account. Please note that access to the site
              is prohibited without signing up. We look forward to seeing your AI art!</p>
          </div>
        </div>
      </div>
    </section>

  </main>
  {% endif %}

  <div class="wrapper">
    <div class="push"></div>
  </div>
  <footer class="footer bg-dark text-white d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <p class="text-left">Footer</p>
        </div>
        <div class="col-6">
          <div class="social-links text-right">
            <img src="https://via.placeholder.com/30x30" alt="Social Media Link 1">
            <img src="https://via.placeholder.com/30x30" alt="Social Media Link 2">
            <img src="https://via.placeholder.com/30x30" alt="Social Media Link 3">
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endblock index %}

