{% extends "base.html" %}

{% block index %}

{% include 'nav.html' %}

  {% if user.is_authenticated %}

  {% block main %}
  {% endblock main %}

  {% else %}
  <div class="jumbotron jumbotron-fluid d-flex align-items-center">
    <div class="container text-center">
      <h1 class="display-4">Welcome to the Promptiverse</h1>
      <p class="lead mb-4">Discover AI-generated art and creativity at its finest.</p>
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
        Learn More
      </button>
    </div>
  </div>
  
  <main>
    <section id="services">
      <div class="container">
        <div class="row service-row">
          <div class="col-lg-12 text-center">
            <h2 class="text-uppercase section-heading">About</h2>
            <h3 class="text-muted section-subheading">Welcome to our AI art gallery, where creators showcase their
              AI-generated artwor</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 service-pad"><span class="fa-stack fa-3x service-icons"><i
                class="fa fa-circle fa-stack-2x" id="text-primary"></i><i
                class="fa fa-solid fa-palette fa-stack-1x fa-inverse"></i></span>
            <h4 class="section-heading text-uppercase">Showcase</h4>
            <p class="text-muted text-left">Our community is dedicated to exploring
              the creative possibilities of machine learning algorithms, and we encourage artists of all levels to join
              us.</p>
          </div>
          <div class="col-md-4 service-pad"><span class="fa-stack fa-3x service-icons"><i
                class="fa fa-circle fa-stack-2x" id="text-primary"></i><i
                class="fa fa-solid fa-comment fa-stack-1x fa-inverse"></i></span>
            <h4 class="section-heading text-uppercase">Comment</h4>
            <p class="text-muted">Each post features an image, title, prompt, negative prompt, and method, providing a
              glimpse into the creative process
              behind the art. Members can like, unlike, and comment on each other's posts, providing feedback and
              inspiration to one another.</p>
          </div>
          <div class="col-md-4 service-pad"><span class="fa-stack fa-3x service-icons"><i
                class="fa fa-circle fa-stack-2x" id="text-primary"></i><i
                class="fa fa-laptop fa-stack-1x fa-inverse"></i></span>
            <h4 class="section-heading text-uppercase">Expand</h4>
            <p class="text-muted text-right">Your mind, to join our community, simply click the 'Account' button and sign up for an
              account. Please note that access to the site
              is prohibited without signing up. We look forward to seeing your AI art!</p>
          </div>
        </div>
      </div>
    </section>

  </main>
  {% endif %}

  <div class="wrapper">
    <div class="push"></div>
  </div>
  <footer class="footer bg-dark text-white d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <p class="text-left">Footer</p>
        </div>
        <div class="col-6">
          <div class="social-links text-right">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endblock index %}

