{% block nav %}
{% if user.is_authenticated %}

<header>

  <nav class="navbar bg-dark navbar-items">
    <a class="navbar-brand" href="{% url 'home' %}">Promptiverse</a>
    <div class="ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_posts' %}">Account</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar sub-nav-col navbar-items">
    <div class="container-fluid">
      <div class="mr-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link sub-nav-links" href="{% url 'home' %}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link sub-nav-links" href="{% url 'create_post' %}">Submit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>


{% else %}
  <header>

    <nav class="navbar bg-dark navbar-items">
      <a class="navbar-brand" href="#">Promptiverse</a>
      <div class="ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
          </li>
        </ul>
      </div>
    </nav>

  </header>
{% endif %}
{% endblock nav %}